@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.signup-banner{
    background-size: 100%;
    /* background-repeat: no-repeat; */
}
.hero-banner{
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    /* height: 80vh; */
}
.popularCards::-webkit-scrollbar{ 
        display: none;
        transition: all 0.4s;
}
nav{
    z-index: 100;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0A4226; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00B16D; 
  }



  .gradient-background-black {
    background: linear-gradient(313deg,transparent,#000000,#404040,#2c2d2d);
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .gradient-background-gray {
    background: linear-gradient(313deg,transparent,#e6e7e7);
    background-size: 120% 120%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }